<div style="margin-top:25px; margin-bottom:150px;">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<ul class="sidebar-list">
					<li class="sidebar-item"><%= link_to "Homes", homes_path, class:"sidebar-link active"%></li>
					
					
				</ul>
			</div>
			<div class="col-md-10">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color:#6dae4e;">
						Homes(<%= @triple_wide.length %>)
					</div>
                                        <% if @double_wide.present? && @double_wide.size > 0 %>
					<div class="panel-body">
							<% @triple_wide.each do |home| %>
							<div class="row">
								<div class="col-md-2">
									<%= image_tag home.home_photos[0].image.url(:thumb) if home.home_photos.length > 0 %>
								</div>
								<div class="col-md-2">
									<h4><%= link_to home.name, home %></h4>
								</div>
								<div class="col-md-3 right">
									<%= link_to "Edit", edit_home_path(home), class: "btn btn-green"%>
								</div>
							</div>
							<hr/>
						<% end %>
					</div>
                                <% else %>

                        <h3> no record found </h3>
                          <% end %>
				</div>
			</div>	
		</div>
	</div>
</div>

