<%= form_for @home, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.select :home_type, [["Single wide","Single wide"], ["Double wide","Double wide"], ["Triple wide","Triple wide"],
                                                ["Others","Others"],
                                                 ["Hot deals","Hot deals"],
                                        ], id: 'home_type', prompt: 'Select...', :required => false, class: 'form-control' %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :no_of_bedrooms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :no_of_bedrooms, :class => 'text_field' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :building_method, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :building_method, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :series, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :series, :class => 'text_field' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :sft, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sft, :class => 'text_field' %>
    </div>
  </div>


   <div class="control-group">
    <%= f.label :no_of_bathrooms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :no_of_bathrooms, :class => 'text_field' %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label :other, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :other, :class => 'text_field' %>
    </div>
  </div>

 <div class="control-group">
    <%= f.label :images, :class => 'control-label' %>
    <div class="controls">
      <!-- The magic is coming ...look at my eyes....shazammmm -->
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

 <div class="control-group">
    <%= f.label :floorplan_images, :class => 'control-label' %>
    <div class="controls">
      
      <%= file_field_tag "floorplan_images[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                homes_path, :class => 'btn btn-mini' %>
  </div>
<% end %>

